:root {
  box-sizing: border-box;
  font-family: "Segoe UI", -apple-system, BlinkMacSystemFont, sans-serif;
  --light-primary: #27a98b;
  --light-secondary: #70d0b1;
  --light-background: #d9fff3;
  --error: #f20000;
  --transition-speed: 600ms;
}

body {
  background-color: var(--light-background);
  color: var(--light-primary);
  font-size: 16px !important;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: white;
}

body::-webkit-scrollbar-thumb {
  background: var(--light-primary);
}

#app {
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
